thead{
  background-color: lightblue;
  
}
.figure1{
  background-color: lightgrey;
}
.figure2{
  background-color: lightgrey;
}
.figure3{
  background-color: lightyellow;
}
button{
  background-color: chocolate;
  color: white;
}